@import "../../../styles/common.scss";

.LogOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  // width: 30px;
  // height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: #a6a6a6;
  @include tablet {
    background-color: transparent;
  }
}
.logoutIcon {
  height: 18px;
  width: 18px;
}
