@import "../../../shared/styles/common";

.bg{
    width: 100vw;
    height: 100vh;
    background-color: getColor('bg-white');
    position: absolute;
    right: 0;
    top:0;
    padding: 0 50px;

    @include tablet {
        width: 70vw;
    height: 100vh;
        }
        @include desktop {
            width: 45vw;
            height: 100vh;
        }
}

.closeBtn{
    position:absolute;
    right: 20px;
    top:20px
}

.title{
    font-size: 26px;
     text-align: center;
     margin-top: 63px;
     margin-bottom: 30px;

     @include tablet {
        font-size: 36px; 
        margin-top: 120px;
        margin-bottom: 50px;
        }
       
}
.input{
    margin-top: 50px;
}
.submitBtn{
    display: block;
    text-align: center;
    margin: 60px auto 20px auto;
    // margin-top: 60px;
    // margin-bottom: 20px;
}
.cancelBtn{
    display: block;
    text-align: center;
    margin: 0 auto;

    background: none;
    border: none;
    padding: 0;
    font-size: 18px;
    color: getColor('text-secondary');
    text-decoration: underline;
    cursor: pointer;
}