// @import "../../../styles/common.scss";

.DeleteButton {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}
.Primary {
  width: 30px;
  height: 30px;
  // background-image: url("../../../../assets/btnIcons/trash-white.png");
  // background-color: grey;
}
.Secondary {
  width: 20px;
  height: 20px;
  // background-image: url("../../../../assets/btnIcons/trash-grey.png");
}
