@import "../../shared/styles/common.scss";
.mainDiv {
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}
.dateLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  @include tablet {
    margin-top: 20px;
    margin-left: 20px;
  }
}
.date {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;

  text-align: right;
  color: getColor("text-secondary");
  @include tablet {
    margin-right: auto;
  }

  @include desktop {
    margin-right: auto;
  }
}
.paginator {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
  @include tablet {
    margin-right: 40px;
  }
}

.Wrapper {
  position: relative;
  @include tablet {
    display: flex;
  }
}

.Title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: getColor("text-title");

  @include tablet {
    font-size: 36px;
    line-height: 1.22;
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
    justify-content: start;
  }
}

.EditBtn {
  margin-left: auto;
  @include tablet {
    margin-left: 20px;
  }

  @include desktop {
    margin-right: auto;
  }
}

.Img {
  display: block;
}

.AddMembers {
  display: flex;
  width: 140px;
  font-size: 18px;
  line-height: 1.2px;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.AddBtn {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  cursor: pointer;
  padding: 0;
  padding-bottom: 10px;
  text-decoration: underline;
  border-style: none;
  background-color: transparent;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;

  color: getColor("text-title");
  @include tablet {
  }

  @include desktop {
    margin-right: auto;
  }
}

.MembersImg {
  margin-right: 10px;
}

.SprintContainer {
  margin-bottom: 10px;
  background-color: getColor("bg-white");
  width: 280px;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;

  @include tablet {
    width: 216px;
    margin-bottom: 0;
  }

  @include desktop {
    min-width: 870px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 30px;
  }
}

.SprintCard {
  padding: 20px 20px 10px 20px;
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
  }
}

.SprintName {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  padding-bottom: 8px;
  color: getColor("text-title");
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
  width: auto;

  @include tablet {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    text-align: left;
    width: 170px;
    margin-bottom: 20px;
  }
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;

  @include tablet {
    margin-bottom: 13px;
  }
}
.SprintList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0px -20px -20px 0px;

    @include desktop {
      margin-bottom: 10px;
    }
  }
}
.SprintContainer {
  @include tablet {
    margin: 0px 19px 20px 0px;
    flex-basis: calc((100% - 40px) / 2);

    @include desktop {
      margin: 0px 0px 10px 0px;
    }
  }
}
.SprintForm {
  max-width: 429px;
}
.SprintDesc {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 10px;
    @include tablet {
      margin-bottom: 36px;
    }
  }

  &:not(:last-child) {
    @include desktop {
      margin-bottom: 20px;
    }
  }
}
.Sprint {
  margin-top: 30px;
  @include tablet {
    margin-left: 20px;
    margin-top: 20px;
  }
  @include desktop {
    margin-left: 70px;
  }
}
.Text {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  color: getColor("text-primary");

  @include tablet {
    display: flex;
    justify-content: space-between;
    max-width: 95px;
    font-size: 14px;
    line-height: 1.21;
  }

  @include desktop {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}
.TextHours {
  display: flex;
  text-align: right;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;

  @include tablet {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
  }

  @include desktop {
    margin-left: 20px;
  }
}
.planingDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .SprintDesc:not(:last-child) {
//   margin-bottom: 10px;
// }

.DeleteBtn {
  display: block;
  margin-left: auto;
}

.AddSprint {
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    display: flex;
    align-items: center;
    position: static;
  }
}
.graphicBtn {
  position: fixed;
  left: 20px;
  bottom: 20px;

  background: getColor("accent");
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;

  @include tablet {
    right: 20px;
    bottom: 20px;
    left: auto;
  }

  @include desktop {
    right: 20px;
    bottom: 20px;
    left: auto;
  }
}
.AddSprintBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;

  background: getColor("accent");
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;

  @include tablet {
    position: static;
  }

  @include desktop {
    position: static;
    margin-right: 20px;
  }
}

.AddSprintText {
  display: none;

  @include desktop {
    display: inline-block;
    position: static;
    // top: 55px;
    // right: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;

    color: getColor("text-title");
  }
}

.Form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.FormTitle {
  margin-top: 28px;

  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;

  text-align: center;

  color: getColor("text-title");
}

.SprintInput {
  margin-bottom: 55px;
}

.SprintInputDate {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include tablet {
    flex-direction: row;
  }
}

.radio {
  &Box {
    display: flex;
    align-items: center;
    // justify-content: center;
    // margin-left: 30px;
    height: 20px;
    padding-left: 44px;
    margin-bottom: 40px;
  }
  &Label {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.04em;

    color: rgba(24, 28, 39, 0.6);
  }
  &Button {
    cursor: pointer;
    margin: 0;
    &:checked + .radioLabel > .customRadio::before {
      background-color: getColor("accent");
    }
    &:checked + .radioLabel {
      font-weight: 700;
      color: getColor("accent");
    }
  }
}
.customRadio {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-left: -46px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.ReadyBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.CancelBtn {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: underline;
  cursor: pointer;
  border-style: none;
  color: rgba(24, 28, 39, 0.6);
  background-color: transparent;
}

.durationInput {
  @include tablet {
    width: 200px;
  }
}
.describeDiv {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    margin-left: 20px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: getColor("text-title");
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.describeText {
  margin-right: 93px;
  width: 107px;
}
