$colors: (
  "text-primary": #000000,
  "text-title": #181c27,
  "text-secondary": rgba(24, 28, 39, 0.6),
  "text-white": #ffffff,
  "bg-white": #ffffff,
  "bg-primary": #f1f2f7,
  "input-line": rgba(24, 28, 39, 0.2),
  "first-project": #8c72df,
  "second-project": #ff765f,
  "third-project": #71df87,
  "accent": #ff6b08,
  "border-color": rgba(24, 28, 39, 0, 1),
);

$font-primary: "Montserrat";

$mobile: 310px;
$tablet: 718px;
$desktop: 1200px;
