@import "../../styles/common.scss";

.sidebar {
  &__wrapper {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
      width: 220px;
      min-height: 100vh;
      padding: 20px 30px 80px 0;
      margin-right: auto;
      border-right: 1px solid getColor("border-color");
    }
    @include desktop {
    }
  }

  &__AddBtn {
    margin: 15px auto;
  }
  &__subscription {
    text-align: center;
  }
  &__goBackLink {
    @include tablet {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.04;
      color: getColor("text-title");
      text-decoration: none;
    }
  }

  &__goBackArrow {
    margin-right: 20px;
    width: 30px;
    height: 10px;
    background: pink;
    fill: black;
    stroke: black;
  }
}

.sidebar__list li {
  &:nth-child(3n + 1) div {
    background: getColor("first-project");
  }
  &:nth-child(3n + 2) div {
    background: getColor("second-project");
  }
  &:nth-child(3n + 3) div {
    background: getColor("third-project");
  }
}

// @include desktop {
// }
