// @import "../../../styles/common.scss";

.CloseButton {
  padding: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url("../../../../assets/btnIcons/close.svg");
  background-size: 18px 18px;
}
