@import "../../../styles/common.scss";

.AddButtonPrimary {
  width: 44px;
  height: 44px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: getColor("accent");
  box-shadow: 0px 3px 4px 0px #ff6b084d;
  background-image: url("../../../../assets/btnIcons/add.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
}
